@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.wrapper {
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    color: #333333;
}

.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 50;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-icon {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}

.logo-text {
    font-family: 'Helvetica', Arial, sans-serif; 
    font-size: 1.2rem;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 500px;
  margin: 0 3rem; 
}

.search-bar {
  width: 100%;
  padding: 10px 40px 10px 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  background-color: #ffffff;
}

.search-icon {
  position: absolute;
  right: 15px;
  left: auto;
  width: 20px;
  height: 20px;
  color: #666;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.action-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 0.8rem;
    gap: 0.25rem;
}

.action-item:hover {
    color: #000;
}

.action-icon {
    width: 24px;
    height: 24px;
}

.sub-navbar {
    background-color: #e9e6e6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    padding: 0.75rem 0;
}

.sub-container {
    max-width: 1200px;
    margin: 0 auto;
}

.sub-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.sub-container li a {
    text-decoration: none;
    color: #555555;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.5rem;
    transition: color 0.2s ease-in-out;
    white-space: nowrap;
}

.sub-container li a:hover {
    color: #1a73e8;
}

.sub-navbar li a.active {
    font-weight: bold;
    color: #0d6efd;
    text-decoration: underline;
}

.sub-navbar li a {
    cursor: pointer;
}

@media (max-width: 1024px) {
    .sub-container ul {
        justify-content: center;
        padding: 0 1rem;
    }
    .sub-container li a {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .search-container {
        display: none;
    }
    .sub-navbar {
        display: none;
    }
}